@import "../../styles/declarations";

.locations__content {
  padding: 50px 0;
}

.locations__heading {
  margin-bottom: 95px;
}

.locations__boxes {
  .flex();
  .justify-content(space-between);
  padding: 0 @small-gutter;

  margin-bottom: 48px;
}