// ==============================================
// Functions
// ==============================================

// These are mixins as functions
// Available in Less.js v.3 and higher
// Some editors do not recognize the usage and complain
// This is valid syntax

.to(@target, @context: 16 ) {
  @em: ((@target / @context) + 0em);
}

.toR(@target, @context: 16 ) {
  @rem: ((@target / @context) + 0rem);
}

//
// ==============================================
// Variables
// ==============================================
//

//Layout

@max-page-width: 1230px;
@max-page-inner: 962px;

@padding-shift: (@max-page-width - @max-page-inner) / 2;
@small-gutter: 20px;

//Color variables

@hero-bg: #00c4d5;
@border-grey: #c7c6c6;
@accent: #ff5e48;
@subhead-cl: #231f20;
@list-item-cl: #231f20;
@copyright-bg: #f9f9f9;
@copyright: #999596;

//
// ==============================================
// Typography
// ==============================================
//


//Font size variables
@base-font: 'PT Sans', sans-serif;;

//Typography variables

//
// ==============================================
// Mixins
// ==============================================
//

.flex() {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
}

.flex-direction(@flex-direction) {
  -webkit-flex-direction: @flex-direction;
  -ms-flex-direction: @flex-direction;
  flex-direction: @flex-direction;
}

.justify-content(@justify-content) {
  -webkit-justify-content: @justify-content;
  justify-content: @justify-content;
}

.align-items(@align-items) {
  -webkit-align-items: @align-items;
  align-items: @align-items;
}

.heading-1 {
  font-size: 48px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  line-height: 1.15em;
}

.heading-2 {
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 2px;
}

.heading-3 {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
}

.base-text {
  font-family: @base-font;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.5em;
}

.hover-box-shadow() {
  -webkit-box-shadow: 18px -18px 0px 0px rgba(12,12,234,1);
  -moz-box-shadow: 18px -18px 0px 0px rgba(12,12,234,1);
  box-shadow: 18px -18px 0px 0px rgba(12,12,234,1);
}
