@import "../../styles/declarations";

.hero {
  background-color: @hero-bg;
}

.hero__content {
  background-image: url("../../assets/hero-bg.jpg");
  background-repeat: no-repeat;
  padding: 108px 0 148px @padding-shift;
}

.hero__heading {
  .heading-1();

  max-width: 480px;
  margin-bottom: 38px;
}

.hero__description {
  font-family: @base-font;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: normal;

  max-width: 480px;
  margin-bottom: 30px;
}

@media @one-column {
  .hero__content {
    background-size: cover;
    padding: 150px 8%;
    background-position-x: 33%;
  }
}