@import "../../styles/declarations";

.cleanse {
  background-image: linear-gradient(to bottom right, #cceeff, #86b2f0);
}

.cleanse__content {
  background-image: url("../../assets/cleanse.jpg");
  background-repeat: no-repeat;
  padding: 75px 0 138px;
}

@media @one-column {
  .cleanse__content {
    background-size: cover;
    background-position-x: 50%;
  }
}
