@import "../../styles/declarations";

.bar {
  background: black;
  padding: 12px 0;
}

.bar__text {
  color: white;
  text-transform: uppercase;

}

.bar__link {
  color: white;
  border-bottom: 1px solid white;
  font-weight: bold;
}

@media @one-column {
  .bar__text {
    width: 80%;
    margin: auto;
  }
}
